[2021-01-21 21:01] vadimkorr opened #1 "Rename contentContainerWidth"
Use page based terminology
content is actually page

[2021-01-21 21:04] vadimkorr opened #2 "Remove transition"
`transition.js` contains unused functionality

[2021-01-21 21:09] vadimkorr opened #3 "Add dots"
- [x] Dots component with `pagesCount` and `currentPageaIndex` props
- [x] Add carousel props `dots` to show/hide dots
- [x] Add hover handling
- [x] Change page by clicking on dot

The following may be moved to separate ticket:
- [x] Add slot for dots
- [x] Pass currentPageIndex to slot for customizing
- [x] Dots change animation

[2021-01-21 21:16] vadimkorr opened #4 "Add more stories"
Add stories based on use cases or modes

1. Slide show (no dots, no arrows, 1 slide per page, autoplay)
2. With several slides
etc.

Remove unused stories

[2021-01-21 21:20] vadimkorr opened #5 "Add more stylish arrows"
Add default arrows and slots for them

[2021-01-22 13:40] #3 closed

[2021-01-22 16:11] #5 closed

[2021-01-22 16:14] #2 closed

[2021-01-22 16:56] #1 closed

[2021-01-22 21:44] vadimkorr opened #10 "Add touch gestures"

[2021-01-22 21:46] #10 closed

[2021-01-24 18:45] vadimkorr opened #12 "Add style prefixes"
As it too easy to overwrite styles from user code by assident

e.g.
`sc-carousel__main-container`
`sc-arrow__main-container`

![image](https://user-images.githubusercontent.com/17295572/105640091-2b9c5f00-5e8d-11eb-9fae-1214efdbb829.png)

[2021-01-27 16:57] #12 closed

[2021-01-27 17:22] vadimkorr opened #14 "Setup jest tests"

[2021-01-27 19:09] #14 closed

[2021-01-27 21:03] #4 closed

[2021-02-06 09:15] elzdave opened #17 "Get active carousel page from another component"
Hello, recently used your nice package and it seems to fit my needs. However, I needs to get current page index to sync with another components, so when the page is displayed, the other component should react to that updates. Searching through your code and still have no clue about it. Is there any possibilities to get the current page index, or maybe listening to event handling the changes? Thank

[2021-02-06 10:10] vadimkorr commented on #17
Hello, thank you!
Is it ok for you if I add this event?

[code]

[2021-02-06 11:48] elzdave commented on #17
Wow, that's was exactly what I need. Thank you for this nice support and I'm waiting for the release :)

[2021-02-06 11:58] #17 closed

[2021-02-06 12:04] vadimkorr commented on #17
@elzdave, released, version 1.0.2

[2021-02-06 12:08] elzdave commented on #17
Allright, updating my deps right now! Have a nice day 😎

[2021-02-06 12:10] vadimkorr commented on #17
Thanks! Have a good day! 🙂

[2021-02-13 10:39] elzdave opened #19 "Carousel component blocking the page transition"
Hello, after a week using this component, I found out that I couldn't do any page movements from page contain this carousel component to any other page. Don't really know exactly the problem, cause the browser console render unreadable stack trace, but when I temporarily commented this carousel component, I could go to other page and vice versa. Could you help on this? Thanks in advance!

[2021-02-13 12:23] vadimkorr commented on #19
Hi @elzdave,
Could you please provide more details. Do you mean that changing pages are blocked somehow?
What routing library is used?
Also stacktrace, routing library name abd version would be useful, maybe some source code snipppets...

[2021-02-16 06:07] elzdave commented on #19
Hello @vadimkorr , I'm using Inertia.js as routing library, together with Laravel framework.

So, I make two pages, Homepage.svelte and AboutUs.svelte, together linked using Inertia.js. In the Homepage.js, I use this Svelte carousel to show image carousels on my homepage. When I try to navigate to AboutUs.svelte using Inertia link, the console.log throws error and the page simply can't move to Abo

[2021-02-23 21:20] vadimkorr commented on #19
@elzdave
Could you please provide carousel usage along with props and child nodes

[2021-02-23 21:44] vadimkorr commented on #19
Found related issue in svelte repo https://github.com/sveltejs/svelte/issues/3448

[2021-02-23 21:56] vadimkorr commented on #19
@elzdave
After some research, I found out that this svelte's issue sveltejs/svelte#3448, and it still open.

But I found this workaround:

[code]

Please check it out and let me know...

[2021-03-30 21:47] gablittledevshop commented on #19
I just want to report I was also having the issue using sapper and the workaround worked. To use in sapper:

[code]

Then:

[code]

[2021-04-12 07:38] PeterHuefner opened #22 "pause autoplay on mousenter"
It is possible to pause autoplay on mousenter and restart it on mouseleave?

Thanks for any hints.

[2021-04-12 07:45] vadimkorr commented on #22
There is no such feature out of the box yet.
I'll work on this.

[2021-04-28 19:45] #19 closed

[2021-04-29 17:26] #22 closed

[2021-05-25 19:19] aktxyz opened #27 "failing on import ... any ideas?"
[code]

[2021-05-26 01:32] tonprince opened #28 "Swipe Support"
Is there any swipe support for sliding the content?

[2021-05-26 01:48] tonprince commented on #27
I had the same issue when using within Sveltekit.

[2021-05-26 03:19] aktxyz commented on #27
ah, sveltekit related ... that's a decent clue !

[2021-05-26 08:00] vadimkorr commented on #28
Hi @tonprince,
yes, it should work out of the box, but there is no support for safari yet.

[2021-05-27 02:55] tonprince commented on #28
When using sveltekit with swiper I have the following issues as described in the minimal sample project:
https://github.com/tonprince/sveltekit-swiper

[2021-05-30 16:01] vadimkorr commented on #28
The official workaround is:
1. Install it as a dev dependency:
`npm install svelte-carousel -D`

2. Import it like this:
[code]

[How do I use a client-side only library that depends on document or window?](https://kit.svelte.dev/faq)
[why -D ?](https://github.com/sveltejs/sapper-template#using-external-components)

[2021-05-30 16:02] vadimkorr commented on #27
The official workaround is:
1. Install it as a dev dependency:
`npm install svelte-carousel -D`

2. Import it like this:
[code]

[How do I use a client-side only library that depends on document or window?](https://kit.svelte.dev/faq)
[why -D ?](https://github.com/sveltejs/sapper-template#using-external-components)

[2021-05-30 16:05] vadimkorr commented on #28
Swipe works with SvelteKit as well, you just need to import the package differently:
https://github.com/vadimkorr/svelte-carousel/issues/27#issuecomment-851022295

[2021-05-30 16:12] aktxyz commented on #27
fantastic ... thanks !

[2021-05-30 16:12] #27 closed

[2021-06-01 04:25] tonprince commented on #27
Thanks, that is great.

[2021-06-04 14:21] #28 closed

[2021-06-11 05:48] rodrigopineda028 opened #29 "Carousel doesn't re-render with reactive list of items"
I've been using this awesome component but I encountered an issue when looping with a reactive list of items. It seems that the Carousel doesn't re-render when the state of the list of items changes. For example, adding or removing items dynamically. I think it's because the items are added on the 'onMount' only. The workaround for me was to wrap the component in a {#key} block like this:

[code]

[2021-06-16 02:37] rodrigopineda028 opened #30 "Carousel styling customization"
I have a question on this great library. Is it intended to add styling customization options for the Carousel container in the future (not just the arrows and dot buttons)?

If not, is it legit to assume the class names ```.sc-carousel__carousel-container``` and ```.sc-carousel__content-container``` won't change?

Thanks in advance!

[2021-06-16 10:11] weaseldotro opened #31 "Show pause indicator when autoplay is paused on focus"
When `pauseOnFocus` is true and the carousel is paused, a visual indicator should be shown on the carousel. Maybe a pause icon or text or something, but I think it would be best if a slot would be used, so the user can add whatever they want.

[2021-06-16 10:13] vadimkorr commented on #31
Hi @weaseldotro,
Nice idea, ok

[2021-06-16 10:18] vadimkorr commented on #30
Hi @rodrigopineda028,
Thank you 🙂
You can use `.sc-carousel__*` class name for customization. There will no breaking changes in minor versions.
I'll keep that in mind.

[2021-06-16 10:20] vadimkorr commented on #29
Hi @rodrigopineda028,
Yes, correct. I'll think about that for upcoming releases.
Thanks for the workaround.

[2021-06-16 10:24] vadimkorr commented on #31
@weaseldotro could you please send a sketch or smth visual of
how do you want this pause indicator should look like, and
where exactly in the carousel?

[2021-06-16 11:05] weaseldotro commented on #31
Hmm, how about a 2px or 3px progress bar at the top or at the bottom of the image that will start at 100% and then decrease according to the duration? https://css-tricks.com/timer-bars-in-css-with-custom-properties/

When the mouse is hovered on the image, the progress bar should pause.
On mobile, when the user taps the image the progress bar shoud pause, and the on the second tap it should resume

[2021-06-18 08:34] #30 closed

[2021-06-24 14:30] PeterHuefner opened #33 "changing current page externally"
Is there any possibility of changing the current page from outside the component?
The showPage-function is not exported for external calling.

Use case could be clicking a button somewhere (not the arrows or dots inside) and to switch to a specific page.
It would be cool when bind to the currentPageIndex (or similiar) and by changing it anywhere the carousel updates itself.

Or is that anyhow poss

[2021-06-26 08:06] vadimkorr commented on #33
Hello @PeterHuefner ,
There is no offical way to change page programmatically yet,
but I will add this functionality in the upcoming releases.
Thanks!

[2021-06-26 20:27] rodrigopineda028 opened #34 "Carousel's 'current index page' is set to initial page when resizing window"
I noticed this behavior, I was wondering if there's a reason for changing the currentIndexPage to initialPageIndex when resizing the browser's window? Can it be solved by removing the line of the code where it sets the index page on ` applyPageSizes `  ?

Thanks again for your help and this awesome tool.

[2021-06-27 06:52] vadimkorr commented on #34
Ok, I will take a look
Thanks!

[2021-06-29 19:07] #34 closed

[2021-06-30 21:10] #33 closed

[2021-06-30 21:13] vadimkorr commented on #33
Hello @PeterHuefner ,
released in `svelte-carousel@1.0.9`

[2021-06-30 21:14] vadimkorr commented on #34
Hello @rodrigopineda028,
released

[2021-06-30 21:31] PeterHuefner commented on #33
Thank you Vadim!

[2021-06-30 21:49] rodrigopineda028 commented on #34
Awesome!
Thank you, have a good one!

[2021-07-07 20:14] vadimkorr opened #38 "Use custom elements in mdsvex to customize table"

[2021-07-07 20:20] #38 closed

[2021-07-09 03:27] brentmparker opened #40 "Not working with Sveltekit (without onMount import workaround)"
Using `import Carousel from 'svelte-carousel'` causes the following error in Sveltekit:

[code]

package.json does not contain "type": "module"

Making this work may require more than adding that to package.json, but I'm not familiar enough with npm packages to know for sure.

There is a workaround, but it's not very pretty.
Instead of importing at the top of the file, imports must be delayed unti

[2021-07-09 04:36] vadimkorr commented on #40
This is known behaviour for packages which use `window` in SSR. Please take a look at the following issue, there are links with explanations.
Duplicate https://github.com/vadimkorr/svelte-carousel/issues/27

[2021-07-09 04:43] brentmparker commented on #40
My mistake. Thanks for the reference. Closing this issue.

[2021-07-09 04:43] #40 closed

[2021-07-15 10:05] vadimkorr opened #41 "Rename 'auto play' to 'autoplay'"

[2021-07-15 10:11] #41 closed

[2021-07-15 10:15] vadimkorr opened #43 "Move colors and shared values to css var"

[2021-07-15 16:03] #43 closed

[2021-07-17 15:33] #31 closed

[2021-07-17 15:57] vadimkorr opened #45 "Promisify functions"

[2021-07-18 13:22] #45 closed

[2021-07-18 14:47] vadimkorr commented on #31
Released in `svelte-carousel@1.0.10`

[2021-07-18 15:32] weaseldotro commented on #31
Looks great, good job!

I've noticed a little quirk: on my iPhone with Safari, tapping on a carousel with autoplay with pause on focus will restart the current progress from zero. However, there is noticeable delay between the time you tap on the image and the restart of the progress. Not a lot, I'm guessing something like .5 seconds, but still, pretty noticeable.

Also, I think my initial suggest

[2021-07-18 15:49] vadimkorr commented on #31
Yes, it is initial solution for focusing behaviour, which comes from one of the previous releases. Seems it works differently in Safari. I'll rethink it with two-taps-approach as well.
Thanks.

[2021-07-22 06:11] weaseldotro opened #47 "Disable dragging the slides using mouse or touch (swipe)"
Hi, great work so far, I really love what you did with this component.

I think it would be great if you could disable the ability to drag the carousel's slides using the mouse or swipe (when on mobile). Maybe add a boolean prop called `swiping` that default to `true` but can be changed by the developer.

As a side notice, on my phone the carousel is *extremely* sensitive when I touch it. For exam

[2021-07-22 08:42] vadimkorr opened #48 "Docs enhancements"
- [x] Fix typos (#48)
- [x] Describe adding the package to sveltekit project
- [x] Add anchors to demo site (#48)
- [x] Add args to goTo description `goTo (pageIndex, options) => Promise<void>`
- [x] Add paused indicator and prop (#62)
- [x] Add link to Svelte REPL
- [x] Update license
- [ ] Add id of already shown page ids to images array on lazy loading (feature)
- [x] Add description to demo of

[2021-07-22 08:43] vadimkorr commented on #47
Thank you so much!
Ok, will do.

[2021-07-22 08:44] vadimkorr opened #49 "Rethink pause on focus for touch events"
https://github.com/vadimkorr/svelte-carousel/issues/31#issuecomment-882075160

- [x] Update docs
- [x] Research progress indicator weird behavior

[2021-07-24 12:23] vadimkorr opened #50 "Make swiping less sensitive"
Splitting #47 into 2 tickets.

"As a side notice, on my phone the carousel is extremely sensitive when I touch it. For example if I want to just scroll the page downwards and I swipe up on the carousel, the page does indeed scroll downwards but the carousel also swipes left or right almost immediately, even though I barely moved my finger."

[2021-08-05 17:55] mweissen opened #53 "How to use with SvelteKit?"
It would be good to be able to use svelte-carousel with SvelteKit as well. I get the error message:

[code]

[2021-08-05 18:06] vadimkorr commented on #53
Hi @mweissen, please try this approach https://github.com/vadimkorr/svelte-carousel/issues/27#issuecomment-851022295

[2021-08-05 18:51] mweissen commented on #53
Hi @vadimkorr, thank you very much for your fast response.

One additional question: could you please give me a hint how to add the
"prev" and the "next" button?
And how to start the autoplay function?

Thank you in advance.

Am Do., 5. Aug. 2021 um 20:06 Uhr schrieb Vadim ***@***.***>:

--
Mit freundlichen Grüßen / With kind regards
Martin Weissenböck
Gregor-Mendel-Str. 37, 1190 Wien
Austria / Eu

[2021-08-05 18:59] vadimkorr commented on #53
Sure, actually prev/next buttons are enabled by default, you can omit `arrows` prop. For autoplay pass `autoplay` prop.

[code]

If you want to customize prev/next buttons you can use the 'Arrows customization' example here: https://vadimkorr.github.io/svelte-carousel/

[2021-08-05 19:22] mweissen commented on #53
Thank you again - it works great!

This is my solution for "goTo":

<script>
  import { onMount } from 'svelte';

*let Carousel;  let carousel;*
  onMount(async () => {
    const module = await import('svelte-carousel');
    *Carousel *= module.default;
  });
  const goToStartPage = () => {
    *carousel*.goTo(0, { animated: false });
  }

</script>

<svelte:component
  autoplay
  this={*Carousel*

[2021-08-05 19:27] vadimkorr commented on #53
Ok, so everything is working now?

[2021-08-05 19:41] mweissen commented on #53
Yes, it is working.

 But are both carousel and Carousel necessary?

Am Do., 5. Aug. 2021 um 21:27 Uhr schrieb Vadim ***@***.***>:

--
Mit freundlichen Grüßen / With kind regards
Martin Weissenböck
Gregor-Mendel-Str. 37, 1190 Wien
Austria / European Union

[2021-08-06 13:27] vadimkorr commented on #53
I guess you have to keep them both
`carousel` is for particular instance
`Carousel` is for component class

[2021-08-06 16:30] #47 closed

[2021-08-08 08:43] #53 closed

[2021-08-08 10:50] vadimkorr opened #54 "Update Dot components"
- [ ] Use CSS animation instead of JS one
- [ ] Fix size

[2021-08-08 11:18] #54 closed

[2021-08-08 11:42] #49 closed

[2021-08-12 19:03] vadimkorr opened #56 "Listen to touchable change"
Update `pausable` in order to switch b/n `tappable` and `focusable` dynamically, during switching the browser view from desktop to mobile and vise versa.

[2021-08-12 19:07] vadimkorr opened #57 "Fix "Added non-passive event listener to a scroll-blocking 'touchstart' event.""

[2021-08-12 19:11] #57 closed

[2021-08-13 12:50] prakashUXtech opened #60 "SyntaxError: Cannot use import statement outside a module"
getting this error while using with svelte kit ..

[2021-08-13 12:51] vadimkorr commented on #60
Hi @prakashUXtech, please try this approach https://github.com/vadimkorr/svelte-carousel/issues/27#issuecomment-851022295

[2021-08-13 21:43] vadimkorr commented on #60
Extended readme https://github.com/vadimkorr/svelte-carousel#sveltekit-support

[2021-08-13 21:44] #60 closed

[2021-08-14 19:17] vadimkorr opened #62 "Show paused indicator"
![image](https://user-images.githubusercontent.com/17295572/129457918-9c4739c6-fedc-4cf7-8405-b7485f854141.png)

`if autoplay && pauseOnFocus && focused && pausedIndicatorEnabled`

[2021-08-15 21:22] #56 closed

[2021-08-16 15:30] lynchem opened #66 "No loader is configured for ".svelte" files using adapter-cloudflare-workers"
I had the Carousel working nicely using the static adapter and the onMount import workaround listed here, but when I switched to using the cloudflare-workers adapter it gives this error:

[code]

Any ideas ?

[2021-08-29 11:07] niwasmala opened #67 "Is there any way to show some part of next element?"
Hello. Thanks for creating svelte carousel.

I want to ask, is there any way display some partof next element? Sorry if my question is unclear.

Here is the example I want to achieve.

![image](https://user-images.githubusercontent.com/476869/131248252-9cdb5fa5-06fc-41f8-b0c2-cb81307fd800.png)

I don't find how to set how many elements to display, e.g. `perView` in GlideJS or `slidesToShow` in Sli

[2021-08-30 08:48] vadimkorr commented on #67
Hello @niwasmala,
Thank you!
There is no ready-to-use way to achieve it yet, but I think you can play with customizing css styles which start with `sc-`.

[2021-09-01 19:42] TheGuyInApt42 opened #68 "Carousel on page load"
Thanks for your work! I have an issue where if the carousel is on autoplay, it takes a second or two to load on the page. Is there a way to check if carousel is loaded so i can do something like if carousel is loaded, just display, else display the first image or some sort of loading indicator. I am not sure if I missed something but i believe I went through all of the props and options.

[2021-09-01 19:55] vadimkorr commented on #68
Hi @TheGuyInApt42,
Thank you! Does it happen with SvelteKit?
There is no any 'loaded' event actually. What if to wrap carousel and then use onMount hook of the wrapper (and if it is SvelteKit, wrapper should be imported the same way as carousel)

[2021-09-01 20:05] TheGuyInApt42 commented on #68
Thanks for the quick response! Yes I am using SvelteKit and using the workaround.

<svelte:component
  this={Carousel}
  bind:this={carousel}
  autoplay
  autoplayDuration={5000}
  autoplayProgressVisible

    {#each images as image}
        <div class="slide-image">
            <img src={image} alt="">
        </div>
    {/each}

</svelte:component>

You're saying wrap the carousel in a module an

[2021-09-01 20:46] vadimkorr commented on #68
Yes, kind of.
The idea is that onMount of the wrapper may tell that carousel is loaded. If it will not work, I will add some event or smth like that

[2021-09-03 15:26] #67 closed

[2021-09-04 10:54] vadimkorr opened #69 "Add pagesToScroll/pagesToShow feature"
- [x] Fix showPage on dot click
- [x] Fix lazy loaded array
- [x] Rename for consistency: page -> particle (initialPageIndex is a page), scroll -> page
- [x] Add validation
- [x] Keep reactivity
- [x] Check partialPageSize for smaller values
- [x] Fix tests

Add bg color:
![image](https://user-images.githubusercontent.com/17295572/134311313-a1ffeff1-5cb5-41f8-8330-f32622b49b7c.png)

May solve the

[2021-09-05 16:13] mweissen opened #71 "The next slide protrudes into the current slide."
Google Chrome:
At certain widths of the window, a narrow part of the next slide is displayed. Width probably 1px. Possibly the cause is a rounding error in the calculation of the width.

Reproduction:
(1) Fill slides with different background colors.
(2) Call a svelte-carousel website with Google Chrome.
(3) Change width of window slowly. At certain widths, a narrow strip of the next page is visib

[2021-09-09 21:23] TheGuyInApt42 commented on #68
Thanks for your suggestion, I fixed that issue. A slight issue I have now is I have a sticky header that displays behind the carousel when scrolling. I was thinking it might be a z-index issue, do you have any suggestions so that the header will display over the carousel. Thanks again

[2021-09-09 22:32] vadimkorr commented on #68
There should be some parent element with `position: relative`, and you can put sticky header as a child element there with `position: absolute` and top:0,left:0, right:0. Smth like that.

[2021-09-10 19:25] TheGuyInApt42 commented on #68
i got it, thanks

[2021-09-10 19:25] #68 closed

[2021-09-10 19:32] vadimkorr commented on #68
Cool, thanks!

[2021-09-11 14:13] dylancl opened #73 "Item's width are not 100% on first load"
Hi

I'm using svelte-carousel to display images in a modal, using SvelteKit. Everything works fine, but when I first open a modal containing a carousel, the width of the images is not 100% of the parent's width, even though I explicitly set it like that.

The result of it looks like this: ![image](https://user-images.githubusercontent.com/14956708/132950660-a2c36683-5f2b-4d44-a07a-581de7a6ff3d.png

[2021-09-11 17:54] vadimkorr commented on #73
Hi,
Changed the way of applying the width. Please try to install `svelte-carousel@1.0.15-rc1`

[2021-09-11 21:48] dylancl commented on #73
Thanks for much for the quick commit, amazing to see!

After installing `svelte-carousel@1.0.15-rc1` the issue is completely fixed.

Thanks a lot for the help, as well as the amazing package.

[2021-09-11 21:53] vadimkorr commented on #73
Cool, thank you!

[2021-09-11 21:53] #73 closed

[2021-09-17 07:55] #48 closed

[2021-09-22 09:51] lalilaloe opened #75 "Screen flickering, conflict with routify page transistions"
I tried to add svelte-carousel to my project but everything started flickering, even had a case where images would get larger and larger.

To reproduce add a svelte-carousel example to the [Routify starter template](https://github.com/roxiness/routify-starter) transistions page you get this:
![Flickering](https://user-images.githubusercontent.com/9057622/134322083-14badc71-192c-4eb3-8638-480929f01

[2021-09-23 03:56] bwp618 opened #76 "Unhandled Runtime Error"
Script error.

No source file.

[2021-10-03 09:20] #69 closed

[2021-10-03 14:58] vadimkorr commented on #71
In 1.0.16, the bug does not reproduce

[2021-10-03 19:46] mweissen commented on #71
Thank you very much! I just tried the program again and the error is no longer there.

[2021-10-03 19:46] #71 closed

[2021-10-06 11:55] vadimkorr commented on #75
Thank you!
This was because of resize observer's callback which applies children's width and as a result makes parent's width grow, and calls a callback. This is a reson of infinte loop.

As a workaround you can add one more propetry in css. I will create a PR.
[code]

[2021-10-16 18:43] TheArctesian opened #81 "Problem displaying absolute text over carousel"
Hey I'm trying to add text over an outplay carousel but it is hiding the h1 tag, idk if i did a fucky wucky or someting wrong w code. I just hopped on the svelte hype train so sorry if this is a stupid question.

Code:
Svelte

[code]

CSS

[code]

[2021-10-16 19:01] vadimkorr commented on #81
Hi @TheArctesian ,
There is a problem with positioning in the provided css

Simplified the example, check this out : https://svelte.dev/repl/f503a458832f4a358d9ec00f88945ff5?version=3.43.2

[2021-10-16 19:12] TheArctesian commented on #81
Thank you very much kind person

[2021-10-16 19:12] #81 closed

[2021-10-21 18:30] kimutaiRop opened #82 "responsive feature"
would be great is we had responsive prop  i.e: show certain number of particles in given screen size... I love the carousel!!!

[2021-11-07 09:09] vadimkorr commented on #83
Hi @TheArctesian,
Just use props like this:
[code]

[2021-11-07 09:17] TheArctesian commented on #83
thanks is there any documentation for this I can read more on

[2021-11-07 09:18] vadimkorr commented on #83
Sure,
here https://github.com/vadimkorr/svelte-carousel
and here https://vadimkorr.github.io/svelte-carousel/

[2021-11-07 09:58] TheArctesian opened #83 "Remove Dots and arrows"
I want to get rid of the arrows and dots underneath so I can just have the scrolling images but every time I delete from the bundle.css it comes back on reload. Could anyone help me find out how to do this without having to delete a bunch of code everytime.

[2021-11-09 06:54] #83 closed

[2021-11-09 10:39] Twijgjes commented on #66
Maybe check your `webpack.config.js`. I had the node_modules excluded in the svelte-loader configuration. Removing the exclusion `exclude: /(node_modules)/` fixed this issue for me. You can find a "plain" svelte-loader webpack config here:
https://github.com/sveltejs/svelte-loader

[2021-11-10 02:44] mortscode opened #84 "Marquee Mode & Item Sizes"
Question.

~I'm trying to create an auto-scrolling image marquee, but when I set the `autoplayDuration` to `0`, the carousel stops. Is there a way for me to have this work like a smooth scrolling marquee without the starts & stops?~

[2021-11-10 03:15] mortscode commented on #84
Figured it out with the easing prop!

Now i'm having issues with the `ParticlesToShow` prop. Is there a way I can bypass this and let the block sizing definitions of my items determine the size of each carousel item? I'm trying to create a very basic carousel of circle images with consistent spacing between them. My hope would be that there could be 1.5 in the view width on mobile and 4.5 on deskt

[2021-11-10 07:32] vadimkorr commented on #84
Hi @mortscode,
This is the upcoming feature (https://github.com/vadimkorr/svelte-carousel/issues/82). The idea is to pass dictionary with screen width and number of particles per page...

But I guess it can be done another way,
Create particlesToShow variable, add window resize event listener and change particlesToShow depending on screen width as you want, pass particlesToShow-variable as a prop

[2021-11-30 13:50] #76 closed

[2021-11-30 13:51] #66 closed

[2021-11-30 13:53] vadimkorr commented on #84
TODO: add demo for Marquee Mode with easing prop

[2021-12-17 07:28] justingolden21 opened #85 "The requested module does not provide an export named 'default"
When I import it:

`import Carousel from 'svelte-carousel'`

I get:

`The requested module '/node_modules/lodash.isequal/index.js?v=4248d81f' does not provide an export named 'default'`

I have lodash merge:

`lodash.merge": "^4.6.2",`

as a dependency for what it's worth...

[2021-12-17 07:32] justingolden21 commented on #85
deleted all folders and modules and reinstalled and ran dev and I get:
<details>
<summary>output</summary>
[code]
</details>

[2021-12-17 07:42] justingolden21 commented on #85
Got rid of lodash from my project and still encounter the same problem

Also this package has one dependency and it's a 404 on npmjs.com

https://www.npmjs.com/package/svelte-carousel

https://www.npmjs.com/package/simply-reactive

[2021-12-17 07:44] justingolden21 commented on #85
here your package.json has:

[code]

but on my machine after cloning just minutes ago I have
[code]

[2021-12-17 08:18] vadimkorr commented on #85
Hi @justingolden21, I'll take a look.
yes, simply-reactive is not an npm package, it is installed right from github, it's fine.

[2021-12-17 17:52] justingolden21 commented on #85
Thanks for taking a look.

That's interesting to know about "simply-reactive"

I had a similar but different issue with the other package I'm using, and I import it async in onMount:

[code]

I also went on the svelte discord and tried
[code]
[code]

[2021-12-17 18:07] vadimkorr commented on #85
Also check out these steps https://github.com/vadimkorr/svelte-carousel#sveltekit-support

[2021-12-17 18:08] justingolden21 commented on #85
I tried following the advice on this article https://www.akashmittal.com/dynamically-import-components-svelte/

[code]

[code]

and the page finally loads without error, but nothing displays

[2021-12-17 18:12] justingolden21 commented on #85
The page loads but I get

`Uncaught TypeError: Cannot read properties of undefined (reading 'goToNext')`

when clicking the next button and none of the slides show up.

But this makes sense to me since `carousel` is never instantiated in that code, only `Carousel`

[2021-12-19 03:09] raafirivero opened #86 "Previous Page button logs its object to the console"
This was probably left on when testing something for dev purposes, but the showPrevPage object is still logged to the console – even on the demo page for the plugin.

[2021-12-19 06:50] vadimkorr commented on #86
Thank you @raafirivero! Fixed

[2021-12-19 06:50] #86 closed

[2021-12-22 06:09] raafirivero commented on #85
This plugin was working fine for me in Svelte, but I refactored my project for SvelteKit and am getting a similar issue. I followed the SvelteKit instructions on the Readme but I get this error in the console `Unhandled Promise Rejection: SyntaxError: Importing binding name 'default' cannot be resolved by star export entries.` – which traces back to this line of code: `const module = await import(

[2021-12-22 08:48] justingolden21 commented on #85
@vadimkorr is there any fix for this? Still unable to use svelte-carousel in my project without everything crashing. Been on this for days.

[2021-12-22 09:35] vadimkorr commented on #85
@justingolden21 , please check `svelte-carousel@1.0.17-rc3`

[2021-12-22 23:12] justingolden21 commented on #85
Thank you for the reply.

II updated from `rc1` to `rc3` but I still get

[code]

In terminal, and in console on front end I get:

`Uncaught (in promise) SyntaxError: The requested module '/node_modules/lodash.isequal/index.js?v=7699aebd' does not provide an export named 'default'`

[2021-12-26 16:02] vadimkorr commented on #85
Check this out:
1. Install: `svelte-carousel@1.0.17-rc4`
2. and follow the instructions: https://github.com/vadimkorr/svelte-carousel#vite-support

[2021-12-28 04:27] raafirivero commented on #85
Hey – thanks for working on this over a holiday. I installed the new rc patch, updated all of the lodash dependencies (which were also throwing errors), followed the instructions on the Readme, and I'm now getting the following error:

ReferenceError: ResizeObserver is not defined
    at Module.createResizeObserver (/node_modules/svelte-carousel/src/utils/page.js:173:3)

For reference, the carouse

[2021-12-28 07:37] vadimkorr commented on #85
Seems carousel is rendered on server side in your case. For svelte kit you have to use this approach: https://github.com/vadimkorr/svelte-carousel#sveltekit-support

[2022-01-19 17:07] raafirivero commented on #85
I followed the SvelteKit instructions. The line where the script fails is inside my onMount function where I get an error `Importing binding name default' cannot be resolved by star export entries.`

the line in the source where it fails is this: `const module = await import('svelte-carousel');`

[2022-01-22 19:25] nnic commented on #85
I managed to get it working in SvelteKit. If you add the following property to the `kit` object in the svelte.config.js:

`vite: { optimizeDeps: { include: ['lodash.get', 'lodash.isequal', 'lodash.clonedeep'] } }`

I was getting the lodash default import error before that.

[2022-01-23 02:57] raafirivero commented on #85
@nnic Thank you. This worked for me. I'd previously tried those same lodash configs in a separate Vite config file but I guess they weren't being included. Carousel works great now :)

[2022-01-25 16:39] vadimkorr commented on #85
Thank you folks! Merged the readme update. Closing.

[2022-01-25 16:39] #85 closed

[2022-02-03 00:57] eni9889 opened #91 "Button becomes un-clickable on scrolling to next page"
I have the following sandbox: https://codesandbox.io/s/svelte-typescript-forked-l0d9f?file=/src/App.svelte:379-392

As you can see when you click on the first `one` button there is a log message but clicking on the second `one` button nothing happens.

[2022-02-10 12:13] manuthinkcoconut opened #94 "Event pageChange not implemented in Carouse.svelte"
Hi, great job man!!

I have seen that **pageChange** does not fire the event.
I did not see it implemented in Carousel.svelte, it does work when clicking on DOTS, but not with SWIPE

I have solved it for myself, putting the dispatch in these functions:

**DOTS**
[code]

**SWIPE**
[code]

THANKS!!!

[2022-02-14 07:36] lbk2knewlifegithub opened #95 "svelte-carousel don't appear to be written in CJS"
![image](https://user-images.githubusercontent.com/78838140/153819678-db3ed20a-ec08-42d5-a4fe-bac0295d73c4.png)

I use SvelteKit and Typescript

[2022-02-20 14:03] mpltr commented on #50
I have the opposite issue. Sliding on mobile is not sensitive enough and I need to increase sensitivity. An option to specify the minimum swipe distance and replace the SWIPE_MIN_DISTANCE_PX unit would be handy. Is this in progress or are you open to contribution on this?

[2022-02-22 06:52] yndotdev commented on #95
Facing the same error, currently.

[2022-02-22 23:45] carlosaguado04 opened #96 "Carousel component on top of my nav component"
Hey, I have an issue with my mobile nav. The carousel is the first thin to appear in my page, so is above everything, when I click my ham button to open my nav, this is covered by the carousel, any idea on how can I fix that?

<img width="708" alt="Screen Shot 2022-02-23 at 2 45 32 AM" src="https://user-images.githubusercontent.com/64253404/155238799-f01f7e94-ce52-4344-84d3-045952d6c214.png">

[2022-02-25 21:17] jhubbardsf opened #97 "lodash.isequal does not provide an export named 'default'"
Trying to get Svelte-Carousel working in my SvelteKit application. Currently running into some issues. I have svelte-carousel installed as a devDependency. This is my svelte.config file.

[code]

I created a carousel/index.svelte file with the following contents

[code]

I get the following error when I try to go to the page.
<img width="467" alt="Screen Shot 2022-02-25 at 4 15 02 PM" src="https:/

[2022-02-26 10:19] inspiredlabs opened #98 "REPL throws: `Cannot find package simply-reactive@latest`"
While looking at various carousels I noticed this [REPL](https://svelte.dev/repl/f503a458832f4a358d9ec00f88945ff5?version=3.46.4) throws: `Cannot find package simply-reactive@latest`.

[2022-02-26 12:09] aditiakusuma commented on #97
maybe you must put  the config like this `

      const config = {
	      kit: {
		      adapter: adapter(),
		      vite: {
			      optimizeDeps: {
				      include: ['lodash.get', 'lodash.isequal', 'lodash.clonedeep']
			      },
			      // plugins: [myPlugin]
		      }
	      },
      };

 `

[2022-02-26 12:10] aditiakusuma commented on #95
same here

[2022-02-28 03:03] daltontc opened #99 "Support for different transitions"
Is there an option for changing the type of transition animation? Ideally I would like to use this for a background that fades between pictures.

[2022-02-28 07:28] aditiakusuma opened #100 "CLS in Performance"
I use carousel, but its make CLS, even I make width and height in img tag. Is it because its only render in client?

[2022-03-18 19:34] OClement commented on #27
FYI: This issue is back on 1.0.17-rc4 (latest as of this writing)
Downgrading to 1.0.16 and using the workwaround [above](https://github.com/vadimkorr/svelte-carousel/issues/27#issuecomment-851022295) still works

[2022-03-19 23:09] OClement commented on #95
@yndotdev & @aditiakusuma

See comments here: https://github.com/vadimkorr/svelte-carousel/issues/27

[2022-03-20 12:50] Albermonte commented on #91
Same here, but only happening on mobile. No button inside the carousel can be pressed.
Removing swiping and pauseOnFocus did nothing

[2022-03-21 18:53] myrdn opened #101 "Keyboard control"
I realised that interactive elements in the carousel (prev/next buttons, dots) don't get the focus while trying to control the carousel with tab key.

It would be great for the accessibility of the component.

[2022-03-27 16:23] Nuckerr opened #102 "Carousel causing entire page to flash"
![brave_dyOSvR3CZA](https://user-images.githubusercontent.com/62883418/160290972-df50fafc-751d-4747-8470-1890cb9823c3.gif)
I just copied the example code from the npm page. I'm using tailwind css and svelte kit and I have a layout with a navbar/footer as you can see.
Code:
[code]

[2022-03-27 16:30] vadimkorr commented on #102
Possible solution:
https://github.com/vadimkorr/svelte-carousel/issues/75

[2022-03-29 16:12] #102 closed

[2022-04-04 04:10] 99bits opened #104 "Waterfall Carousel effect?"
Hi Vadim,  Thank you for your amazing project.

Would love to use your carousel and wondering how this can be done.

Cheers

![JDLxG](https://user-images.githubusercontent.com/22409112/161472443-640e418b-6288-4c67-9b1b-5f0c4a1cda06.jpg)

[2022-04-07 20:15] digi4care opened #105 "Filtering Slides"
HI i love your Carousel.
Is there a way we can filter the slides?
In a other webproject i also use a slider for the filterbar (based on slick slider).
We would love to use your carousel because we want to switch too  plain javascript.

Maybe an example will explain more then i did.
https://codepen.io/Digi4Care/pen/MWoJBQp

[2022-04-07 20:26] vadimkorr commented on #105
Hi, thank you!
I think this one should work
So, you have some array and it is changed (by filtering). And you have to wrap the carousel inside `key`, like this:

[code]

[code]

[2022-04-08 20:11] digi4care commented on #105
Thanks. this really helps

[2022-04-08 20:26] digi4care commented on #105
It seems that the clickhandler doesnt work on the cloned objects. I have to set "infinte" prop to false

[2022-04-09 06:55] digi4care commented on #105
Ah sorry problem already known #91

[2022-04-09 19:18] kreimben opened #106 "I think I'm stuck in the middle."
Hi, I recently knew this component.
Unfortunately, When I am about following your examples, Error occur.

I use this code.
[code]

and then,

[code]
This is what terminal said.

What should I do further?

[2022-04-30 14:16] Juliapp commented on #91
Any resolutions to this problem? I'm facing the same but just in mobile or mobile mode in the browser

[2022-04-30 14:18] #105 closed

[2022-05-04 19:56] vadimkorr commented on #101
Released 1.0.18

[2022-05-04 19:56] #101 closed

[2022-05-04 19:56] vadimkorr commented on #84
Released 1.0.18

[2022-05-04 19:56] #84 closed

[2022-05-05 14:50] vadimkorr commented on #94
Release 1.0.19

[2022-05-05 14:50] #94 closed

[2022-05-05 14:57] vadimkorr commented on #106
Duplicates https://github.com/vadimkorr/svelte-carousel/issues/95

[2022-05-05 14:57] #106 closed

[2022-05-17 18:39] fnavarijo commented on #91
Hello everyone.
I also have the same issue, only for mobile and mobile mode in the browser.
Playing a little bit with the source code, I was able to find that the responsible is this line: https://github.com/vadimkorr/svelte-carousel/blob/67c227995b439046c0346a8935e594927b0801ae/src/actions/swipeable/swipeable.js#L73

The `handleUp` is being called by the event added on `handleDown` function on th

[2022-06-07 00:27] s-saens opened #111 "Marquee mode doesn't work properly after the browser is resized."
Marquee mode example in your blog works well if I never resize the browser, but after resizing the browser, it doesn't work properly.
When the last content disappear(and when the first content is displayed again entirely), carousel's expected behavior is just going to the right as it was originally doing, and show the second content. However it goes left, back to the second content.

you can simpl

[2022-06-23 03:00] eni9889 commented on #91
Still having this same issue on mobile only

[2022-06-23 05:39] zahachtah opened #112 "REPL version doesn't work anymore..."
error: Cannot find package simply-reactive@latest

[2022-06-24 00:20] CoryParsnipson commented on #91
I made the change that @fnavarijo suggested and saw that everything seemed to work as expected after that. I opened a pull request to remove the lines.

I am trying to come up with a workaround in the meantime, but I don't think I have enough experience. I wonder if there is a way to add a new event listener that intercepts clicks to the carousel particles and calls the right event listener?

[2022-08-13 10:52] lachlancollins opened #115 "Improving ESM and SvelteKit support"
Hi, my team have recently started using this package in our SvelteKit app, and I decided to look into the SvelteKit warning messages and complex instructions for what should be a simple import (e.g. #27).

At this point I have a strong suspicion this has to do with the rollup config and settings in the bundled `package.json`, but I've also noticed that the repo only contains the code to build the

[2022-08-15 08:20] zeddrix opened #116 "svelte-carousel doesn't appear to be written in CJS, but also doesn't appear to be a valid ES module"
# Bug Report
I'm using SvelteKit. Every time I run my project that uses the fomantic-ui package, I keep on getting this message on my terminal:

`svelte-carousel doesn't appear to be written in CJS, but also doesn't appear to be a valid ES module (i.e. it doesn't have "type": "module" or an .mjs extension for the entry point). Please contact the package author to fix.`

Now I don't know if this is

[2022-08-22 10:36] cloudlena opened #117 "Could not find a declaration file for module 'svelte-carousel'"
I'm using the SvelteKit workaround:

[code]

I'm also using TypeScript.

Here, I'm getting the following error:

[code]

`npm i --save-dev @types/svelte-carousel` doesn't work because that package doesn't exist.

I'm not sure if the problem is related to the SvelteKit workaround or if this package is generally not typed (correctly) for TypeScript.

[2022-09-02 15:40] len0xx opened #118 "simply-reactive is missing"
Seems like the package `"simply-reactive"` is deleted from `npmjs.com`, but `svelte-carousel` depends on it. At first running `npm install` gave me errors telling that there is no such package as `simply-reactive` on github. But now I think someone figured it out that it was a problem and `npm install` no longer throws an error. But I'm curious what will happen next? I feel like some day we'll hav

[2022-09-03 10:01] vadimkorr commented on #91
Released in 1.0.20

[2022-09-03 10:01] #91 closed

[2022-09-03 10:22] vadimkorr commented on #98
Duplicates https://github.com/vadimkorr/svelte-carousel/issues/118

[2022-09-03 10:22] #98 closed

[2022-09-03 10:22] vadimkorr commented on #112
Duplicates https://github.com/vadimkorr/svelte-carousel/issues/118

[2022-09-03 10:22] #112 closed

[2022-09-03 10:31] vadimkorr commented on #97
Resolved

[2022-09-03 10:31] #97 closed

[2022-09-03 10:38] vadimkorr commented on #116
Duplicates https://github.com/vadimkorr/svelte-carousel/issues/95

[2022-09-03 10:38] #116 closed

[2022-09-03 10:41] vadimkorr commented on #100
Hi @aditiakusuma,
Please try p.3 in from readme https://github.com/vadimkorr/svelte-carousel#sveltekit-support

[2022-09-03 10:41] #100 closed

[2022-09-03 13:15] lxk1170 commented on #97
Adding the svelte.config.js gives me this error:
```invalid export in /Users/x/Projects/svelte-demo/myapp/svelte.config.js```
I took out the adapter, is it necessary?

[2022-09-11 17:30] Tal500 commented on #95
Just add "type": "module" to `package.json`

[2022-10-04 10:14] balkhalz commented on #95
While this works, it would be great if the issue was resolved.

[2022-10-11 04:36] len0xx commented on #118
Are there gonna be any fixes to the problem?

[2022-10-20 12:46] TheoGegout opened #119 "Cannot use import statement outside a module"
Hi !

I followed the readme to install the library and set up the carousel but I have a problem when importing the component.
![image](https://user-images.githubusercontent.com/55431060/196952560-52a749c1-a0ea-42b6-84ab-29fff25ccb09.png)

[2022-10-20 13:32] #119 closed, assigned to nobody

[2022-10-23 16:34] eni9889 opened #120 "Right to Left Languages"
It seems like the offset is wrong on RTL languages and the carousel does not work. Is anyone else experiencing this?

[2022-10-24 19:19] aleportillo commented on #29
any update?

[2022-10-25 04:59] irosadie commented on #119
hei i have same issues=d, how to solve it, thankyou before

[2022-10-25 07:45] TheoGegout commented on #119
Hi !
Apparently, this is wokring ;)
https://github.com/vadimkorr/svelte-carousel/issues/27

[2022-11-01 22:35] Nrosa01 opened #121 "Prop to access pagesCount"
Would it be possilbe to add a prop to access pagesCount? It would be useful for me as that would allow me to detect the end of the carousel to trigger events

[2022-11-04 17:23] kinxiel commented on #97
Still getting the same error.

`requested module '/node_modules/.pnpm/lodash.isequal@4.5.0/node_modules/lodash.isequal/index.js?v=467393be' does not provide an export named 'default'`

Not sure where I should put the settings. I placed them both in `vite.config.ts` and `svelte.config.js`, but still get the error.

`svelte.config.js`

[code]

`vite.config.ts`

[code]

Please let me know if I am doi

[2022-11-05 21:22] JeffWScott opened #122 "Doesn't work in new sveltekit"
<img width="1063" alt="image" src="https://user-images.githubusercontent.com/4855017/200141800-56e427e0-b9e8-453b-9294-b07a5c03ee6f.png">

Followed instructions for svelte kit install. Which are also out of date because kit.vite is no longer a config option.

[2022-11-06 11:25] Nrosa01 commented on #99
Hi! I have this same questions but I sadly think the answer is no. I installed this as a dev dependency and looked at the code ni the node package, and it seems it's specificaly done to do the slide animation. But with some tweaks it should be possible to get the fade one

[2022-11-15 16:23] Dhirajraje commented on #122
Same problem. Any luck?

[2022-11-16 06:06] oetiker commented on #122
what works is this:

[code]

  and then later

[code]

[2022-11-23 02:40] Cobular commented on #117
Hey! So this got me started and now I've built what I think is a correct representation of the types involved.

[code]

Hope this helps someone or can get built in!

[2022-11-24 05:13] abynim opened #123 "Dots current index not updated on mount"
If the `initialPageIndex` prop is set to anything over 0, while the Carousel's content renders the correct page, the Dots always show the first Dot as selected.

Looks like the `currentPageIndex` in the Carousel is not set on mount.
https://github.com/vadimkorr/svelte-carousel/blob/main/src/components/Carousel/Carousel.svelte#L204

Setting the `currentPageIndex` to match `initialPageIndex` on moun